# Dependencies
node_modules/

# Build output
dist/
assets/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
.cache/
.vercel
node_modules/.vite/
*.timestamp-*.mjs

*storybook.log
storybook-static
